version: '2'

services:
  phpfpm:
    image: docker.io/bitnami/php-fpm:7.4
    networks:
      - football-data
    ports:
      - 9000:9000
    volumes:
      - .:/app

  nginx:
    image: 'bitnami/nginx:latest'
    depends_on:
      - phpfpm
    networks:
      - football-data
    ports:
      - '9988:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/opt/bitnami/nginx/conf/server_blocks/showcase.conf
 
networks:
  football-data:
